[submodule "Illusion-anonymity-mining"]
	path = Illusion-anonymity-mining
	url = https://github.com/482solutions/Illusion-anonymity-mining
	branch = master
[submodule "Illusion-governance"]
	path = Illusion-governance
	url = https://github.com/Illusioncash/Illusion-governance
	branch = master
[submodule "torn-token"]
	path = torn-token
	url = https://github.com/Illusioncash/torn-token
	branch = master
[submodule "airdrop"]
	path = airdrop
	url = https://github.com/Illusioncash/airdrop
	branch = master
[submodule "deployer"]
	path = deployer
	url = https://github.com/Illusioncash/deployer
	branch = master
